:root {
	--dark: #23272A;
	--less-dark: #2C2F33;
	--blurple: #5865F2;
}

html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: 100%;

	background-image: url(./img/bodybg.png);
	background-color: #0f0f0f;
	overflow: hidden;
}

a {
	color: #393dfa;
}

u {
	color: #8f8f8f;
}

u:hover {
	color: #8f8f8f;
}

.profile {
	background-color: #171616;
	width: 600px;
	margin: 10% auto 50px;
	border-radius: 20px;
	display: block;
	grid-template-rows: auto 1fr auto;
	min-height: 400px;
	padding: 0;
}

.top-part {
	background-color: #171616;
	padding: 10px;
	border-radius: 20px 20px 0 0;
	display: flex;
	flex-direction: column;
}

.top-part>img {
	width: 90px;
	height: 90px;
	object-fit: cover;
	border-radius: 50%;
	align-self: center;
}

.top-part>p.name {
	color: #ffffff;
	font-size: 22px;
	text-align: center;
	align-self: center;
	margin: auto;
	width: 130px;
	height: 30px;
	background-color: #171616;
	border-radius: 12px;
}

.top-part>p.name2 {
	color: #ffffff;
	font-size: 22px;
	text-align: center;
	align-self: center;
	margin: auto;
	width: 100px;
	height: 20px;
	background-color: #171616;
	border-radius: 12px;
}

.top-part>ul.badges {
    width: 12%;
    height: auto;
    background-color: #171616;
    border-radius: 12px;
    text-align: center;
    margin: auto;
	align-self: center;
	display: flex;
	list-style: none;
}

ul.badges>li {
	margin-left: 5px;
	width: 25px;
	height: 25px;
	align-self: center;
}

.bottom-part {
	background-color: #171616;
	border-radius: 0 0 20px 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.bottom-part>ul.social {
	display: flex;
	align-self: center;
}

ul.social>li {
	margin-right: 10px;
}

li>a {
	color: #fff;
	font-size: 30px;
	transition: color 0.3s;
}

li>a:hover {
	color: #cfcfcf;
	transition: color 0.3s;
}

.bio {
	padding: 20px;
}

.bio>p {
	color: #fff;
	text-align: center;
}

.bio a {
	color: #575bfa;
	text-decoration: none;
	transition: text-decoration 0.1s;
}

.bio a:hover {
	text-decoration: underline;
	transition: text-decoration 0.1s;
}

hr {
	margin: 0;
	height: 1px;
	background-color: #171616;
}

.projects>h1 {
	color: #fff;
	font-size: 15px;
	margin: 10px;
}

.projects>.project-box {
	border-radius: 12px;
	box-shadow: none;
	transition: box-shadow 0.1s;
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 10px;
}

.project-description {
    display: none;
    flex-direction: column;
}

.projects>.project-box:hover + .project-description {
    display: flex;
    color: white;
}

.projects>.project-box:hover {
	box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.75);
	transition: box-shadow 0.7s;
}

.project-box>img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.project-box>p {
	color: #fff;
	margin-left: 10px;
	margin-top: 8px;
	font-size: 20px;
}

@media (max-width: 600px) {

	body {
		overflow-y: scroll !important;
	}

	.box.profile {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.top-part {
		border-radius: 0;
	}

	.bottom-part {
		border-radius: 0;
	}
}